.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.typeahead-list {
  width: 100%;
  list-style-type: none;
  padding: 3px 12px;
  margin-top: 3px;
  border: solid 1px grey;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
  background-color: white;
  overflow-y: scroll;
  max-height: 300px;
  font-size: 120%;
}

.typeahead-item {
  padding: 5px;
}

li.highlighted
{
  padding: 3px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
}
